# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Environment
.env
backend/.env

# React
frontend/.env
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db